.sheet-o-scope-popup {
  & .window-app {

    /* hide resize handle on popup */
    & .window-resizable-handle {
      display: none;
    }

    /* disable transparency on header */
    & .window-header {
      background-color: #111;
    }
  }

  /*
   * has an unsightly border before it renders
   * (which, in our popup window, it never does)
   */
  #sidebar {
    display: none;
  }
}
