/* small tweaks for the secondary window */
.sheet-o-scope-secondary {
  & .window-app.controlled-sheet {

    /* disable transparency and draggable cursor on header */
    & .window-header {
      cursor: auto;
      background-color: #111;
    }
  }

  /*
   * has an unsightly border before it renders
   * (which, in our secondary window, it never does)
   */
  #sidebar {
    display: none;
  }
}
